$area-width: 30%;
$button-width: 40%;

@mixin basicFlex {
  display: flex;
  align-items: center;
  @content;
}

.editor {
  &-toolBox {
    @include basicFlex {
      justify-content: space-between;
    }

    width: $area-width;
    height: 10vh;

    margin-left: auto;
    margin-right: auto;

    &-sticker {
      width: $button-width;
    }
    &-export {
      width: $button-width;
    }
  }

  &-imageArea {
    @include basicFlex {
      justify-content: center;
    }

    &-imageWrapper {
      width: $area-width;

      &-userImage {
        max-width: 100%;
      }
    }
  }
}
