$area-width: 30%;
$area-height: 10vh;

@mixin basicFlex {
  display: flex;
  align-items: center;
  @content;
}

.editor {
  &-toolBox {
    @include basicFlex {
      justify-content: flex-end;
    }

    width: $area-width;
    height: $area-height;

    margin-left: auto;
    margin-right: auto;

    &-save {
      font-size: 2.5vh;
    }
  }

  &-imageArea {
    @include basicFlex {
      justify-content: center;
    }

    &-imageWrapper {
      width: $area-width;

      &-userImage {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
